@using Application.DTO;

@model IEnumerable<RecipeDTO>
@{
    ViewBag.Title = "Own Recipes";
}

<div class="head mb-4">
    <h2 class="text-center">Own Recipes</h2>

    <div class="add_recipe text-right">
        <a href="@Url.Action("Add", "Recipe")" class="btn btn-outline-success">
            Add Recipe
        </a>
    </div>
</div>
    
    <ul class="recipes">
        @foreach (var recipe in Model)
        {
            <div class="card recipe_content mb-5" style="width: 18rem;">
                <img src="@recipe.Image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title link-primary">@Html.ActionLink(recipe.Name, "Index", "RecipeDetails", new { recipeId = recipe.Id })</h5>
                    <p class="card-subtitle mb-2 text-muted">@recipe.Description</p>
                    <h6 class="card-subtitle">Ingredients:</h6>
                    <p class="card-text">@recipe.Ingredients</p>
                    <h6 class="card-subtitle">Serving time:</h6>
                    <p class="card-text">@recipe.ServingTime</p>
                    <h6 class="card-subtitle">Nutrition facts:</h6>
                    <p class="card-text">@recipe.NutritionFacts</p>
                    <h6 class="card-subtitle">Author:</h6>
                    <a href="@Url.Action("UserProfile", "User", new { userId = recipe.Author.Id })" class="link-primary">@recipe.Author.FullName</a>
                    <div class="recipe-actions mt-3">
                        <div class="edit">
                            <a href="@Url.Action("Edit", "Recipe", new { recipeId = recipe.Id })" class="btn btn-outline-primary">
                                Edit
                            </a>
                        </div>
                        <div class="delete mx-4">
                            @using (Html.BeginForm("Delete", "Recipe", new { recipeId = recipe.Id }, FormMethod.Post))
                            {
                                <button class="btn btn-outline-danger">Delete</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="recipe">
                <h4>@recipe.Name</h4>
                <div class="recipe_content">-->
            @*<img src="@recipe.Image" />*@
            <!--<div class="description_recipe">
                        <span class="description">@recipe.Description</span>
                    </div>
                    <div class="ingredients_recipe">
                        <span class="ingredients">Ingredients: @recipe.Ingredients</span>
                    </div>
                    <div class="serving_time_recipe">
                        <span class="serving_time">Serving time: @recipe.ServingTime</span>
                    </div>
                    <div class="nutrition_recipe">
                        <span class="nutrition">Nutrition facts: @recipe.NutritionFacts</span>
                    </div>
                    <div class="author_recipe">
                        <span class="author">Author: @recipe.Author.FullName</span>
                    </div>
                    <div class="author_recipe">
                        <span class="author">Likes: @recipe.Likes</span>
                    </div>
                    @using (Html.BeginForm("Delete", "Recipe", new { recipeId = recipe.Id }, FormMethod.Post))
                    {
                        <button>DELETE</button>
                    }
                    <a href="@Url.Action("Edit", "Recipe", new { recipeId = recipe.Id })">
                        Edit
                    </a>
                </div>
            </div>-->
        }
    </ul>
